<html>
<%- include('partials/searchHeader') %>

<body>
  <p>Please type in below a few short words for what you looking for.</p>
  <p>Good keywords to use;</p>
  <ul>
    <li>Tablet...</li>
    <li>Phone...</li>
    <li>Computer...</li>
    <li>Camera...</li>
  </ul>
  <h2>Search Results for "<%= query %>"</h2>
  <form action="/search" method="get">
    <input type="text" name="q" value="<%= query %>">
    <button type="submit">Search</button>
  </form>
  <ul>
    <% if (products.length > 0) { %>
      <% products.forEach(product => { %>
        <li>
          <h2><%= product.name %></h2>
          <p><%= product.description %></p>
          <p>Price: $<%= product.price %></p>
        </li>
      <% }) %>
    <% } else { %>
      <li>No products found</li>
    <% } %>
  </ul>
</body>
</html>