<html>
  <%- include('partials/header') %>
  <body>
    <h1>Search</h1>
    <p>Please type in below a few short words for what you looking for.</p>
    <p>Good keywords to use;</p>
    <ul>
      <li>Tablet...</li>
      <li>Phone...</li>
      <li>Computer...</li>
      <li>Camera...</li>
    </ul>
    <div class="searchBar">
      <h2>Search Results for "<%= query %>"</h2>
      <form action="/search" method="get">
        <input type="text" name="q" value="<%= query %>" autocomplete="off">
        <button class="searchButton" type="submit">Search</button>
      </form>
    </div>
    <ul>
      <% if (products.length > 0) { %>
        <% products.forEach(product => { %>
          <li>
            <h2><%= product.name %></h2>
            <p class="searchPrice">Price: $<%= product.price %></p>
            <p><%= product.description %></p>
            <br>
          </li>
        <% }) %>
      <% } else { %>
        <li>No products found</li>
      <% } %>
    </ul>
  </body>
</html>